/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  background-color: rgb(241, 241, 241);
}

#app {
  margin: 5px 10px 10px;
  --color-primary: rgb(9, 105, 218);
  --color-text: #e34d35;
  /* rgb(9, 105, 218) */
}

input,
button,
textarea,
select,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
}

a {
  color: var(--color-text);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin-top: 0;
}

select,
input,
button {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
  margin-bottom: 5px;
  border-color: rgba(31, 35, 40, 0.15);
  box-shadow: rgba(31, 35, 40, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
}

input:disabled {
  opacity: 0.5;
  cursor: default;
}

button {
  color: white;
  background-color: var(--color-primary);
}

button:disabled {
  background-color: #80aae2;
  cursor: default;
}

button:active:not(:disabled) {
  transform: translateY(2px);
}

select {
  display: inline-block;
  max-width: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
  appearance: none;
  padding: 5px;
  margin-bottom: 0;
}

.flex {
  display: flex;
}

.left {
  text-align: left;
}

.notification {
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: white;
  background-color: rgb(14, 116, 14);
}
